### Necklace Hunt

For: [Al B](../players/al_b.svx) and [Eve](../players/eve.svx)

Given by: [Pickled Pete](../../npc_content/all_npcs.svx#pickled-pete-homebrew)

Session: Any

Prep needed: An old flyer of Harbin's, saying that he is selling elixirs at just above cost

Because the owners and managers of the Inn are away, Pickled Pete offers these two (who woke up before everyone else) a small task, and will give them a little gold each as a reward (2*1d6). He asks them to find a specific tree in the Gon household next door, dig up the hatch, and retrieve the item inside the hatch.

They will go next door and find the tree is actually built into the side of the house, which feels a little suspicious. The hatch is directly underneath it, but they need to dig around for it. The handle to the hatch is locked, and they need to pick the lock. After picking it, they still need to break a rusted over piece of metal.

Finally, the hatch opens to a bunch of rubble they will need to clear out. This will go faster using Al's strength and Eve's agility. Finally, the locket is all the way at the bottom of the hatch, and it will take an acrobatics move to fish it out. The whole thing feels very suspicious!

The item is not enchanted, but it is a locket with Pickled Pete's face in it. Who it is intended for in unknown, but when it's returned to Pete he smashes it with a sly smile.

> Gotta cover my tracks, now that I have the chance. You two kids are alright in my book.

He pays them with a bag of stuff. It has actual math problems in it, and it takes the players at least 30 minutes of in-game time to count all the coin. After paying them, he tells them that he knows that they want to kill the dragon, and to do that, they should really stock up on Elixirs of Ice Resistance. [Harbin Wester](../../npc_content/all_npcs.svx#harbin-wester) makes them (or at least procures them) and will sell them at a fair price. 

But in order to even have that conversation, they clearly need him to trust them enough to open up the door. He says:

> I'm sure that time will come eventually. I'm sure you will know you opportunity when it's in front of you!

After this, Al B and Eve will have an easier time with Pete.
