---
layout: default

---

# Butterskull Ranch

**Quest Level: 2**

## Prep needed:
- Cow
- 15 orcs, 10 have been printed, and there wont be more than 10 in an area
- Map
- Big Al's fit into the larger story. Maybe he is one of the candidates for the bolognese. Or maybe his butter is what makes the best bolognese in the region, so anyone who uses his butter could be a candidate for it?
- Maybe he tells the adventurers a secret code they can use to identify Harpers?


## Actual Quest

### Surrounding Lore



### Backstory



### Locations and Events



#### E1 - etc..



### Fights



## Follow up

