---
title: "Phandalin"
layout: ./src/lib/text/doc_layout.svelte

---

<script>

</script>

# { title }

This is overview text...

## Town Locations

The players wake up each day in Stonehill, provided that they are not actively adventuring

### Stonehill Inn
