# The Harpers

## Aims

There are a few NPCs in town that are affiliated with the Harpers, but they keep leaving town.

They have four main focuses in the region during the time the campaign takes place:
- **Helping relocate the refugees** fleeing Cryovain's territorial expansion
- **Helping rebuild Neverwinter.** Even though the city has been un and running for a long time since the volcano's eruption, there has been a power vacuum that is constantly being seized by the maligned groups
- **Charting verified "safe" routes** in the area that their communication network can proceed without overt hastle.
- **Finding "thronic artifacts".** They know that the [Iron Throne](./ironthrone.svx) used to operate in the area, and left some dangerous artifacts behind. Any Harper will immediately react to seeing a an artifact with their brand - whether visible or invisible.

## Who are they

### [Sister Garaele](../../npc_content/all_npcs.svx#sister-garaele)

Tends the shrine - for real! It's not just a front. She is the main point of contact for Phandalin, and the shrine is a helpful way for her to recognize who is needy in the town.

### [Marla Gon](../../npc_content/all_npcs.svx#marla-gon-homebrew)

Waitress at the Stonehill Inn.

### [Carla Gon](../../npc_content/all_npcs.svx#carla-gon-homebrew)

Marla's sister in law.

## Who knows about them

### [Alfonse Kalazorn](../../npc_content/all_npcs.svx#alfonse-kalazorn)

Former sheriff of Triboar, and a rare True Neutral character. He sought to drive out all secret societies, and in doing so ran up against the Harpers. Though he recognizes them as generally good for the world, he did not like that there was a group that operated covertly - whether they were "good" or not. But now that he is retired, he is happy to point the adventurers in their direction.

### [Pickled Pete](../../npc_content/all_npcs.svx#pickled-pete-homebrew)

Because of the time he spends at the Stonehill, he knows that Marla and Toblen's semi-frequent absenses are due to the amount of travel they have as Harpers. He does not really consider them as useful or not-useful. They help people, which he sees as good, but he's not one of the people who is helped, which is fine, because he doesn't need help. He will hint to the adventurers after the [necklace hunt](../side_quests/necklace_hunt.svx) that Marla and Toblen have to do their spy network reporting.