---
layout: reference

---

# All NPCs

Certain NPCs are totally made up. This guide will help track the facts about the included NPCs as well as the made up ones.

## Town NPCs & Recurrings

### Toblen Stonehill
Proprietor of the Stonehill inn, the groups homebase. Most likely a middle aged human man.

*To Do: check race, age, physical characteristics*

### Marla Gon ***homebrew***
Waitress at the Stonehill inn, married to the cook. A rotund and kindly middle aged human woman. She is especially kind towards Al B, and calls the half milk/half ale drinks "halfies"

*Not established yet: her, her husband, and her sisters all live in the house next door*

### Pickled Pete ***homebrew***
Alignment: *not Zhent, but on business terms with them*

Mysterious old human man who hangs out in the Stonehill inn and has a house somewhere in town. He sometimes will sell magical items, or give useful information - but he needs to trust you first. 

*Not established yet: he will give Eve and Al B the sidequest to locate a necklace on Marla's property and destroy it. In exchange, he will tell them about how Harbin sells ice resistance potions.*

### Harbin Wester
Middle aged, pompous human man. He is a prominent banker who is temporarily in charge of Phandalin, in a custodial way. Very frightened man, he won't open his front door for fear of the dragon. He gives quests via a job board in front of the Townmaster's Hall. His house is a few doors down.

### Jolene ***homebrew***
He is an elf, younger than middle aged, gruff and mean. He is a renowned chef, the favorite of Harbin. His house is at the edge of town, and if you go when he's in a good mood, he will sell you a serving of whatever he's making that day. His personality softened when the group spoke with him in Elvish.


*To Do: What is his last name?*

### Big Wet Fred ***homebrew***
*Not established yet: He is a young human man and a stablemaster at the edge of town. He has a horse and a mule for sale. For a weekly fee, he will also house, feed and groom the horse on behalf of the party. He is called Big Wet Fred because he always looks beet red in the face, and always seems to be drenched in sweat. He is easily confused.*

### Carla Gon ***homebrew***
*Not established yet: Marla's sister-in-law. Despite not being blood related, she seems like a younger, carbon copy of Marla in demeanor, but she is also affiliated with the Harpers. This is why she leaves town for a period of time (starting at adventure 2)*

### Robert Stonehill ***homebrew***
*Not established yet: Younger brother of Toblen, who watches the inn when Toblen is unable to*

### Linene Graywind

Proprietor of the Lionshield Coster. She sells armor and weapons. She is a member of the Lionshields, a merchant company based out of Yartar, far out east. 

*Not established yet: when the adventurers look around her shop, they will see crates labeled YTAR. If they ask her about them, she will say 'I asked those boys Ander and Thistle to help load up these crates for shipment back home - but they can't spell for shit. I said clearly YAR - TAR.'*

### Elmar Barthen

Balding human man of fifty years. Sells provisions at Barthen's Provisions. He employs Anders and Thistle.

### Halia Thornton

Lean, brown-eyed, sharp human woman of about 35 who operates out of the Phandalin Miner's Exchange. With a little investigation, the characters will find out she is a high level operative of the Zhentarim **this is canon**. She is slowly working to bring Phandalin under her control.

*Not established yet: Vocally, she will be anxious about the Orc threat, and will dissuade the adventurers from trying to physically stop them (more than they already have). She is working with the Orcs, and until this is known, she will give the adventurers incorrect information about them.*

*Her goal is twofold. On the one hand, she wants to be the middleman for as much mining equipment and output in the region as possible. On the other hand, she also wants to catalogue the land deeds that come through her exchange for a hard copy record of the influential workers in the area. Through this, she has taken special interest in certain quests - especially the dwarven excavation. She will pay you extra to recover a specific gem stolen by Orcs and hidden in the caves. This gem is in the hall of greed, by it doesn't make sense that it would have been stolen by the Orcs?* 

*If the adventurers ask Pickled Pete about it, he will confirm that it's the gem that she is looking for, but that he can't find anything special about it. In reality, the goal was just to get the adventurers to trust her and see her as a quest giver*

### Sharlay Grift **homebrew**

*Not established yet: Halia's right hand woman in town. She is visibly younger than Halia, but is a half-elf. She immediately takes a liking to Eve, because she recognizes their shared backgrounds. Also is a little gay. She has green eyes.*

### Facktoré

A female artificer rock gnome. She is unusually diminuitive due to the type of mushrooms which has been the backbone of her diet for many years. She lives at [Gnomenguard](../dm_content/locations/gnomenguard.svx) and is met there during the quest. She becomes a 'psuedo-ally' and will have plotlines related to the eventual dragon encounter.

Her estranged brother, Kantortké is one candidate for the [Father's Killer](../dm_content/secret_goals/2avenging_the_murder.svx).

### Kantorké ***homebrew***

Facktoré's estranged brother. He is met at Gnomenguard AFTER the initial quest-related visit. He is one candidate for the [Father's Killer](../dm_content/secret_goals/2avenging_the_murder.svx).

### Sister Garaele

She is a zelous elf acolyte of Tymora, goddess of luck, and tends the shrine in the central square of town. She is a [Harper](../dm_content/plotlines/harpers.svx) and is out of town for most of the adventure.


## Quest-specific NPCs

### Adabra Gwynn

Adabra is an old midwife and an acolyte of Chauntea who lives just outside of town in an old windmill. She sells healing potions.

### Dazlyn Grayshard

Shield dwarf prospector, and business partner with Norbus Ironrune. They seem identical, but Dazlyn has dark skin and graying hair. Forthright and honest. They need to be warned about the dragon to complete the [Dwarven Excavation](../dm_content/locations/dwarven_excavation.svx) quest.

### Norbus Ironrune

Shield dwarf prospector, and business partner with Dazlyn Grayshard. They seem identical, but Norbus has tan skin and brown hair. Gruff and cautious. They need to be warned about the dragon to complete the [Dwarven Excavation](../dm_content/locations/dwarven_excavation.svx) quest.

### Gnerkli

King-prisoner of the reclusive rock gnome clan of Gnomenguard. Married to his captor and ruling partner, Korboz.

### Korboz

King-captor of the reclusive rock gnome clan of Gnomenguard. Married to his prisoner and ruling partner, Gnerkli.

### Fibblestib

One of the foremost inventors of Gnomenguard, busying himself with trying to cure the king's madness.

### Dabbledob

One of the foremost inventors of Gnomenguard, busying herself with trying to cure the king's madness.

### Alfonse Kalazorn

Owner of the Butterskull Ranch, and he used to be the sherrif of a town to the east named Triboar. He used to be known as Big Al Kalazorn.

*Not established: As sherrif, he was anti ALL secret societies - from Zhentarim to Harpers to any others around. He tried to get all of the network influences out of Triboar, and ultimately that was what drove him out of the job. For that reason, the Harper's steer clear of him. He does recognize that they are the good guys, but he is opposed to them. Perhaps he is a True Neutral character.*

### Tibor Wester

Harbin Wester's older brother, who is stationed at the Logger's camp. Met during the [Logger's Camp](../dm_content/locations/loggers_camp.svx) quest.