---
layout: reference

---

# All Magic Items

This is a catalogue of all the items the players can encounter on this quest. This list will try to be balanced in terms of Uncommon/Rare status.

## Quest Rewards

### Potion of Healing

### Dwarven Sending Stones

Given by [Dazlin Grayshard](all_npcs.svx#dazlyn-grayshard) and [Norbus Ironrune](all_npcs.svx#norbus-ironrune) in exchange for clearing the temple of greed at the [dwarven excavation](../dm_content/locations/dwarven_excavation.svx) site.

Wonderous item, uncommon:

Sending Stones come in pairs, with each smooth stone carved to match the other so the pairing is easily recognized. While you touch one stone, you can use an action to cast the **sending** spell from it. The target is the bearer of the other stone. If no creature bears the other stone, you know that fact as soon as you use the stone and don't cast the spell.

Once **sending** is cast through the stones, they can't be used again until the next dawn. If one of the stones in a pair is destroyed, the other one becomes nonmagical.

Sending:
- 3rd level
- Cost: action (material component not relevant)
- Range: unlimited
- Duration: 1 round
- School: evocation

You send a short message of twenty-five words or less to a creature with which you are familiar. The creature hears the message in its mind, recognizes you as the sender if it knows you, and can answer in a like manner immediately. The spell enables creatures with Intelligence scores of at least 1 to understand the meaning of your message.

### Hat of Wizardy

Wonderous item, common:

Requires attunement from a wizard. This antiquated, cone-shaped hat is adorned with gold crescent moons and stars. While you are wearing it, you gain the following benefits:

- You can use the hat as a spellcasting focus for your wizard spells.
- You can try to cast a cantrip that you don’t know. The cantrip must be on the wizard spell list, and you must make a DC 10 Intelligence (Arcana) check. If the check succeeds, you cast the spell. If the check fails, so does the spell, and the action used to cast the spell is wasted. In either case, you can’t use this property again until you finish a long rest.

### Wand of Pyrotechnics

Wand, common:

This wand has 7 charges. While holding it, you can use an action to expend 1 of its charges and create a harmless burst of multicolored light at a point you can see up to 60 feet away. The burst of light is accompanied by a crackling noise that can be heard up to 300 feet away. The light is as bright as a torch flame but lasts only a second.

The wand regains 1d6 + 1 expended charges daily at dawn. If you expend the wand’s last charge, roll a d20. On a 1, the wand erupts in a harmless pyrotechnic display and is destroyed.

### Clockwork Amulet

Wonderous item, common:

This copper amulet contains tiny interlocking gears and is powered by magic from Mechanus, a plane of clockwork predictability. Faint ticking and whirring noises emanate from within.

When you make an attack roll while wearing the amulet, you can forgo rolling the d20 to get a 10 on the die. Once used, this property can’t be used again until the next dawn.



### Pole of Collapsing

Wonderous item, common:

While holding this 10-foot pole, you can use an action to speak a command word and cause it to collapse into a 1-foot-long rod, for ease of storage. The pole’s weight doesn’t change. You can use an action to speak a different command word and cause the rod to revert to a pole; however, the rod will elongate only as far as the surrounding space allows.

## Quest Objects



### Don-Jon's Enchanted Goggles

[Don-Jon Raskin](all_npcs.svx#don_jon_raskin) is an NPC the characters must escort for the [Mountain's Toe Gold Mine](../dm_content/locations/mountains_toe_gold_mine.svx) quest. It is a gift from [Halia Thornton](all_npcs.svx#halia-thornton) at the Phandalin Miner's Exchange, and it comes with a cute note "The PME helps me see!"

However, unbeknownst to Don-Jon, have been enchanted by an artificer similar to a spy bug. They have a much greater range, but much more limited capacity. They take a sort of "snapshot" once per hour, and have a range of 20 miles. This can all be gleamed with a combination of Investigation and Detect Magic - or if they run into an artificer, they may get a clue for free.

From these, they should know that Halia has intentions to gather information on the gold mine, and hopefully they understand that Don-Jon is a pawn.

## Outside of Quest Scopes

### Thistle's Used Slippers of Study

[Carla Gon](all_npcs.md#carla-gon-homebrew) gives these to [Dopio](../dm_content/players/dopio.md) after her [shopping trip](../dm_content/side_quests/shopping_trip.md). These shoes require attunment by a bard. They can be used as a casting focus once attuned. They provide +1 to History checks.


### Al B's Modified Halberd


### Iron Map of Icespire Hold


### Elixir of Cold Resistance

Up to 4 of these will be sold by [Harbin Wester](all_npcs.svx#harbin-wester) once they have gained enough respect. This most likely will happen by facilitating the reunion between him and his brother [Tibor Wester](all_npcs.svx#tibor-wester). Each potion is sold one by one, and they all have some kind of cooldown time to make, so they all have different prices, equal to 150 + (1d8 * 20) gp (between 170 and 310 gp). These elixirs will be invaluable for the Cryovain fight.

## Cursed Objects

These are all malicious "Thronic Artifacts" (see [Iron Throne](../dm_content/plotlines/ironthrone.svx) and [Harpers](../dm_content/plotlines/harpers.svx)).

### Blade of the Pariah

https://alchemygamelab.com/random-cursed-items-table
(Cursed Magic Weapon)

This +1 longsword is crafted of fine Damascus steel and adorned with sapphires and gold-inlay.

DM Info:

This longsword provides +1 to attack and damage rolls. It is also cursed by the soul of its nameless former owner. 

Once this sword has been carried by a humanoid for more than one day, it will attune itself to the new owner. Once attuned, the owner gains a permanent -5 to Charisma until the curse is broken. 

### Flute of Extreme Exuberance

https://alchemygamelab.com/random-cursed-items-table
(Cursed Musical Instrument)

While playing this magical flute (and for one minute following a song), you gain +2 Charisma. 

DM Info:

This cursed flute will also compel its owner (occasionally at awkward times) to stop whatever they are doing and play. Whenever the owner makes an ability check, skill check, attack action, dodge action, or casts a spell they must first roll a D6. On a roll of 1 they will forego that action and instead use their turn to play a spirited ditty.



Dagger of Secrets

This dagger looks ornately decorated, but poorly constructed and most casual observers would assume that it deals less damage than a normal dagger (d4-1). In reality the dagger is a powerful magic weapon that deals an additional 5 damage on a hit. However for every individual aside from the wielder that knows this the bonus is reduced by 2. Anyone who has the dagger in their possession for 24 hours becomes aware of this ability. Attempts to identify the dagger instead reveal that it is cursed to cause people to become obsessed with it.

You drop this as loot on some cultist. No doubt the rogue will take it. Before the next session you reach out to them and explain the dagger. The rogue will start using it in combat to everyone else's surprise and stating damage as if it were dealing a d4-1, but you add the additional 6 damage behind the scenes. You can even make a show of have the rogue roll and fail some fake will save so the party thinks they're doing it because of a curse. This will drive the party nuts, but the rogue will do anything to keep it secret and keep using the dagger.

Dagger of Lies

Exact same as the Dagger of Secrets but the will save the rogue makes is real. On a success they realize it actually is a cursed broken dagger, on a failure they continue to believe it's a Dagger of Secrets. As long as they believe you run it exactly like a Dagger of Secrets, you just don't add the extra damage behind the scenes.



A pointless box. When you open it, a mage hand appears and closes it again.


Cowardly shield. When danger looms, it exclaims things like, “shit, let’s get out of here!” And “Yikes, fuck, he’s gonna break me!” +1 AC but -2 to stealth and initiative.

The Fabulous Chapeau of Disguising the Drab
Whoever made this Hat of Disguise either had a weird sense of humor, or a horrific sense of fashion. It functions as any other Hat of Disguise, save that the illusory guise is always wearing something hideously gaudy and "fashionable" in a way that fits in with nothing anybody else is wearing.

A key that radiates magic, but the magic just prevents it from fitting in any lock, and it screams when you try.


Weaponproof Armour - This armour is completely impervious to any sort of weapon. Weapons will simply pass through the armour, leaving it undamaged.